{% extends "base.html" %}

{% block title %}
Meiling OAuth Status
{% endblock %}

{% block content %}
<div class="row">
    {% if is_logged_in and user_name %}
        <h1>Hello, {{ user_name }}</h1>
    {% elif is_logged_in and user_email %}
        <h1>Hello, {{ user_email }}</h1>
    {% else %}
        <h1>Welcome to the Meiling Nginx Proxy</h1>
    {% endif %}
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if is_logged_in %}
    <div class="row">
        <p>
            You are logged in as <mark>{{ user_email }}</mark>.
        </p>
    </div>
    <div class="row">
        <p>
            Not you? <a href="{{ url_for('.logout') }}" class="btn btn-warning btn-lg">Log Out</a>
        </p>
    </div>
{% else %}
    <div class="row">
        <p>
            You are not logged in.
        </p>
    </div>
    <div class="row">
        <p>
            <a href="{{ url_for('.login', next_url=next_url.to_string()) }}" class="btn btn-success btn-lg">Log In</a>
            {% if next_url %}
                to <mark>{{ next_url.to_string() }}</mark>
            {% endif %}
        </p>
    </div>
{% endif %}
{% endblock %}
